h6 {
  margin-bottom: 0 !important;
  padding: 0px;
}

.Link:hover {
  text-decoration: none;
}
.Link:active {
  text-decoration: underline;
}
.Link {
  font-size: 0.8rem;
}
.nav-link {
  padding: 0px 10px !important;
}
p {
  font-size: 0.8rem !important;
  color: grey;
  font-weight: 600 !important;
}
small {
  font-size: 0.7rem !important;
  font-weight: bold !important;
}
.border-danger {
  border: 1px solid red !important;
}
.logo {
  font-size: 1rem !important;
  text-decoration: none !important;
}
.logo:active {
  text-decoration: underline !important;
}

.logout {
  font-size: 0.7rem !important;
  padding: 0px !important;
  outline: none !important;
}
.logout:focus {
  outline: none !important;
}
.logout-text {
  font-weight: bold !important;
}
.logout-btn {
  font-size: 0.8rem !important;
  outline: none;
  border: none !important;
  background: transparent !important;
}
.logout-btn:focus {
  box-shadow: none !important;
  border-color: transparent !important;
  outline: none !important;
}
.toggle {
  outline: none !important;
  border: none !important;
  background: transparent !important;
}
.toggle:focus {
  box-shadow: none !important;
  border-color: transparent !important;
  outline: none !important;
}
