h6 {
  margin-bottom: 0 !important;
  padding: 0px;
}

.Link:hover {
  text-decoration: none;
}
.Link:active {
  text-decoration: underline;
}
.Link {
  font-size: 0.8rem;
}
.nav-link {
  padding: 0px 10px !important;
}
p {
  font-size: 0.8rem !important;
  color: grey;
  font-weight: 600 !important;
}
small {
  font-size: 0.7rem !important;
  font-weight: bold !important;
}
.border-danger {
  border: 1px solid red !important;
}
